.login {
  height: 100vh;
  background-image: 
  /* top, transparent red */ linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    /* your image */ url(dentista.jpg);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 25%;
  background: -webkit-linear-gradient(top, rgba(49, 41, 37, 0.8), rgba(87, 81, 73, 0.5));
  height: 500px;
  padding: 50px !important;
  border-radius: 10px;
  text-align: center;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiFormControl-fullWidth {
  width: 100%;
  margin: 10px 0 !important;
}
.text {
  text-align: center;
  font-weight: 900;
}
