.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  &--contained {
    position: absolute;
  }

  &--hide {
    display: none;
  }

  // .MuiCircularProgress-colorPrimary {
  //   color: $primary !important;
  // }
}
